* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
    background-image: url(img/bg-intro-desktop-2.png);
    background-color: hsla(0,100%, 74%, 0.6);
  background-size: cover;
  background-position: top;
  font-size: 16px;
}
.container{
  display: flex;
  align-items: center;
  flex-direction: row ;
  width: 100%;
  height: auto;
  margin: auto;
  padding-left: 40px;
  font-size: 65px;
}
 .content-1{
   color: white;
   padding-right: 50px;
   margin: auto;
   padding: 30px;
   padding-right: 30px;
   width: 50%;
   
   
 }
 .content-2{
  padding: 60px;
  margin: auto;
  padding: 30px;
  width: 50%;
 }

.content-1 h1{
   font-size: 65px;
   font-weight: 700;
   margin-bottom: 5px;
   float: left;

}
.content-1 p{
  font-size: 20px;
}
form{
  background-color: white;
  padding: 40px;
  border-radius: 10px;
}
input{
  width: 100%;
  padding: 15px;
  color: hsl(249, 10%, 26%);
  border: 2px solid hsl(246, 25%, 88%);
  border-radius: 6px;
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 12px;
}
input:focus{
  border: 2px solid hsl(249, 10%, 50%);
  outline: none !important;
}
#submit{
  background-color: hsl(154, 59%, 51%);
  color: white;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px rgb(93, 154, 126);
}
#submit:hover{
  background-color: hsl(155, 46, 66%);
  box-shadow: 0px 4px hsl(134, 223, 182);
  -webkit-transform: scale(1.1);
  transform: scale(1.65);
}
.try{
  background-color: hsl(248, 32%, 49%);
  color: hsl(246, 25%, 77%);
  width: 100%;
  font-size: 20px;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  text-align: center;
  box-shadow: 0px 4px hsl(219, 149, 123);
}
form p{
  color: hsl(246, 25%, 77%);
  font-size: 12px;
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
}
form p a {
  color: red;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
}
@media screen and (max-width:1400px) {
  .container{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
  main{
    padding: 10px;
  }
  .content-1,.content-2{
    width: 70%;
    padding: 15px;
    margin: auto;
  }
  .content-1 h1{
    font-size: 35px;
    line-height: 50px;
  }
  @media screen and (max-width:600px) {
    .content-1,.content-2{
      width: 70%;
      padding: 15px;
      margin: 0 auto;} 
  }
  .container{
    display: flex;
    flex-direction: row;
    width: 100%;
  }
    @media screen and(max-width:375px){
      
    }
    main{
    background: url(img/bg-intro-mobile.png) repeat center fixed;
    background-color: hsl(0, 100%, 74%);
    width: auto;
    }
    .container{
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .content-1, .content-2{
      width: 70%;
      padding: 100px;
      margin: 0 auto;
    }
    form{
      padding: 25px;
    }
    .content-1 h1{
      font-size: 25px;
      line-height: 40px;
    }
    .content-1 p{
      padding: 14px;
    }
    input#submit{
      padding: 10px;
      font-size: 14px;
    }
    
  }

