@import url("https:/fonts.googleapis.com/css2?family=shouders+Display:wght@700&family=lexend+Deca:wght@400&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(146, 140, 128);
}
main{
    width: 80%;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    height
    padding:2em;
    overflow: hidden;
    border: radius 4px;
    box-sizing:border-box;
}
.top-content{
    background-color: orange;
    padding: 2em;
}
.top-content h2{
color: white;
padding-bottom: 30px;
padding-top: 20px;
font-size: bold;
font-weight: 700;
font-family: Arial, Helvetica, sans-serif;
}
.top-content p{
    color: white;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
}
.top-content button{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 40px;
    color: rgb(112, 100, 100);
    border-radius: 50px;
    transition-duration: 0.4s;
    border: 2pxs solid white;
    padding: 10px;
}
.top-content:hover{
    background-color: turquoise;
    color: gray;
}
.middle-content{
    background-color:hsl(184,100%, 22%);
    padding: 2em;
}
.middle-content h3{
    color: white;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: bold;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.middle-content p{
    color: white;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
}
.middle-content button{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 40px;
    background-color: white;
    color: rgb(246, 250, 250);
    border-radius: 50px;
    transition-delay: 0.4s;
    border: 2px solid white;
    padding: 10px;
}
.middle-content button:hover{
    background-color: transparent;
    color: white;
}
.last-content{
    background-color: hsl(179, 100%, 13%);
    padding: 2em;
}
.last-content h3{
    color: white;
    padding-bottom: 30px;
    padding-top: 20px;
    font-size: bold;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
.last-content p{
    color: white;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-bottom: 20px;
}
.last-content button{
    width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
    background-color:black;
    color:white;
    border-radius: 50px;
    transition-duration: 0.4s;
    border: 2px solid white;
    padding: 10px;
}
.last-content button:hover{
    background-color: transparent;
    color: white;
}
h1{
    color: red;
    width: 100%;
    margin: auto;
    padding: 20px;
    text-align: center;
    justify-content: space-between;
}

{
    /* media query for desktop*/
    @media (max-width:1440px){
        width: 80%;
        display: flex;
    }
       

    }
